
html, body, #root {
  height: 100%;
}

.user-unit-link, .flights-unit-link{
  color: rgba(255, 255, 255, 0.65);
  text-decoration:none; 
}
a:focus{
  text-decoration:none; 
}
a:hover{
  -webkit-transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 1; 
  color: #fff;
}